<%= form_for(@user, html: { multipart: true }) do |f| %>
  <%= render partial: "partials/form_errors", locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit t('views.buttons.save'), class: "btn btn-primary" %> || <%= link_to t('views.buttons.back'), :back %>
  </div>
<% end %>
