<h1><%= t('views.users.edit_profile') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render "form" %>

    <p class="buffer-top">
      <%= link_to t('views.users.password_change'), edit_user_registration_path %>
    </p>
  </div>
</div>
