<div class="text-center">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user) %>

  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to t('views.buttons.edit_profile'), edit_user_path(@user), class: "btn btn-default" %>
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @user.events.any? %>
    <h3><%= t('views.users.organized') %></h3>
    <div class="row">
      <%= render partial: "events/event", collection: @user.events %>
    </div>
    <% else %>
    <p class="buffer-top"><%= t('views.users.no_event') %></p>
    <% end %>
  </div>
</div>
