<div class="event-subscription-form">
  <h4><%= t('views.events.i_go') %></h4>
  <div>
    <%= render partial: 'subscriptions/form', locals: {subscription: @new_subscription || @event.subscriptions.build} %>
  </div>
</div>
