<h1><%= t('views.events.index_events') %></h1>

<div class="buffer-both">
  <%= link_to t('views.buttons.create_event'), new_event_path, class: "btn btn-success" %>
</div>

<div class="row buffer-bottom">
  <%= render partial: "events/event", collection: @events %>
</div>
