<h1><%= t('views.pincode.access') %></h1>

<%= form_tag('', method: :post) do |f| %>
  <div class="form-group">
    <%= label 'Пин-код', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('views.pincode.enter'), class: "btn btn-primary" %> ||
    <%= link_to t('views.pincode.home'), events_path %>
  </div>
<% end %>
