<div class="event">
  <div class="event-info-row">
    <div class="col-md-12">
      <%= content_tag "div", " ",
                                    class: "event-background",
                                    style: "background-image: url(#{event_photo(@event)})"
      %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l(@event.datetime, format: :short) %></h3>
            <h3>
              <small><%= @event.address %></small>
            </h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-both">
              <%= link_to t('views.change'), edit_event_path(@event), class: "btn btn-primary" %>
              <%= link_to t('views.delete'), event_path(@event),
                                                                method: :delete,
                                                                data: { confirm: t('views.destroy_confirm') },
                                                                class: 'btn btn-danger'
              %>
            </div>
          <% end %>
        </div>

        <div class="col-md-6">
          <div class="event-map" id="map" data-address="<%= @event.address %>"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-photos">
        <div class="event-photos-gallery buffer-both">
          <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
        </div>

        <div class="buffer-both">
          <%= link_to t('views.photos.add'), '#', class: 'event-photo-form-link' %>
        </div>

        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      </div>

      <div class="event-comments buffer-top">
        <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>

        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner buffer-both">
        <h4> <%= t('views.events.event_owner') %></h4>
        <%= render partial: 'users/user', object: @event.user %>
      </div>
      <div class="event-subscriptions">
        <h4><%= t('views.events.subscribers') %></h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription', collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>

      <% unless current_user_can_edit?(@event) %>
        <%= render partial: 'events/subscription' %>
      <% end %>
    </div>
  </div>
</div>
