<%= t '.title' %>
----------------------

<%= @comment.body %>

<%= t '.author' %>: <%= @comment.user_name %>

----------------------------------------------------------------------
<%= t '.event' %>: <%= link_to @event.title, @event %>
<%= t '.datetime' %>: <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>
