<%= t '.title' %>

----------------------

<%= t '.author' %>: <%= @photo.user.name %>

-----------------------------------------------------------------------------

<%= t '.event' %>: <%= link_to @event.title, @event %>
<%= t '.datetime' %>: <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>

-----------------------------------------------------------------------------

<%= link_to(image_tag(attachments[@image_name].url), @event) %>
