<h1><%= t '.title' %></h1>

<hr/>

<p><%= t '.author' %>: <%= @photo.user.name %></p>

<hr/>

<p><%= t '.event' %>: <%= link_to @event.title, @event %></p>

<p><%= t '.datetime' %>: <%= l @event.datetime %></p>

<p><%= t '.owner' %>: <%= @event.user.name %></p>

<hr/>

<p><%= link_to(image_tag(attachments[@image_name].url), @event) %></p>
