<%= t '.title' %>
----------------------

<%= t '.name' %>: <%= @name %>
<%= t '.email' %>: <%= @email %>

--------------------------------

<%= t '.event' %>: <%= link_to @event.title, @event %>
<%= t '.author' %>: <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>
